<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header Start -->
<header class="header">

    <!-- Top Header Start -->
    <div class="top-header">
        <div class="container">
            <div class="row">

                <div class="col-6">
                    <div class="top-header__content">
                        <a href="#"><i class="fas fa-phone-alt"></i> <span>02 99 25 15 26</span></a>
                        <a href="#"><i class="fas fa-envelope"></i> <span>gamma-hotel@gmail.com</span></a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="top-header__content">

                        <!-- Top Social -->
                        <div class="social-icons ml-auto">
                            <a href="#"><i class="fab fa-facebook-f facebook-icon"></i></a>
                            <a href="#"><i class="fab fa-twitter twitter-icon"></i></a>
                            <a href="#"><i class="fab fa-tripadvisor tripadvisor-icon"></i></a>
                            <a href="#"><i class="fab fa-youtube youtube-icon"></i></a>
                            <a href="#"><i class="fab fa-instagram instagram-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header End -->

    <div class="user-header">
        <div class="container">
            <div class="row justify-content-center">
                    {% if app.user %}
                        Bonjour {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
                        <a href="{{ path('app_logout') }}" class="user-header__message">Se déconnecter</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="user-header__message">Se connecter</a>
                    {% endif %}
            </div>
        </div>
    </div>

    <!-- Main Header Start -->
    <div class="main-header">
        <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light">

                <!-- Logo -->
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="Gamma Hotel">
                </a>

                <!-- Menu Hamburger Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Nav Start -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}"
                                {% if app.request.attributes.get('_route') ==
                                    "homepage" %}class="active"{% endif %}>Accueil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('accomodation_showAll') }}"
                               {% if app.request.attributes.get('_route') == "accomodation_showAll" %}
                                    class="active"
                               {% endif %}
                            >Nos Logements
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('construct_page') }}">Actualités</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('construct_page') }}">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- Nav End -->
            </nav>

        </div>
    </div>
</header>
<!-- Main Header End -->

<section class="container">
    {% for message in app.flashes('success') %}
        <div style="background: #3c763d; color: white; border-radius: 8px; padding: 20px; margin: 30px 0;">
            {{ message }}
        </div>
    {% endfor %}
</section>


