<header class="header-main">

    <div class="top-navigation container">
        <div class="address">54 route de la plage, 56100 Lorient</div>

        {% if app.user %}
            Bonjour {{ app.user.firstName ~ ' ' ~ app.user.lastName }} <a href="{{ path('app_logout') }}" class="button
            button-secondary">Se
            déconnecter</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="button button-secondary">Se connecter</a>
        {% endif %}

        <nav class="nav-social">
            <ul>
                <li>
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-linkedin"></span></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-navigation container">
        <a href="{{ path('homepage') }}">
            <img src="{{ asset('images/logo.png') }}" class="logo" alt="Gamma Hotel">
        </a>
        <nav>
            <ul>
                <li><a href="{{ path('homepage') }}" class="active">Accueil</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="{{ path('accomodation_showAll') }}">Nos Logements</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>

</header>