{% extends 'base.html.twig' %}

{% block title 'Gamma Hotel' %}

{% block body %}

    <section class="page-header home-header container">
        <img src="{{ asset('images/home-header-bg.jpg') }}" class="img-responsive" alt="Gamma Hotel">
    </section>

    <section class="container home-content">

        <h1>Bienvenue à l'hôtel Gamma</h1>

        {#
        <div class="form-group">
            <label for="search-type">Type</label>
            <select name="type_id" id="search-type">
                {% for type in types %}
                    <option>{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>
        #}

        {{ form_start(searchForm, {'attr' : {'class': 'form-search'}}) }}
            <div class="form-group">
                {{ form_label(searchForm, 'Type') }}
                {{ form_widget(searchForm.type) }}
            </div>
            <div class="form-group">
                {{ form_label(searchForm, 'Prix min') }}
                {{ form_widget(searchForm.priceMin, {'attr' : {'value': minPrice} }) }}
            </div>
            <div class="form-group">
                {{ form_label(searchForm, 'Prix max') }}
                {{ form_widget(searchForm.priceMax, {'attr' : {'value': maxPrice}}) }}
            </div>
            <button type="submit" class="button button-primary"><i class="fa fa-search"></i>Rechercher</button>
            <a href="{{ path('homepage') }}" class="button button-primary">Tous les logements</a>
        {{ form_end(searchForm) }}

        <h2>Découvrez nos chambres</h2>

        <div class="grid grid-rooms">

            {% if accomodations %}

                {% for acc in accomodations %}
                    {% include 'accomodation/_card_accomodation.html.twig' with {'acc' : acc} only %}
                {% endfor %}

            {% else %}
                <p>Aucun résultat trouvé</p>
            {% endif %}

        </div>

    </section>

    <section class="container home-content" style="background: #e8eaec">

        <h2>Top 3 des logements les plus réservés</h2>

        <div class="grid grid-rooms">

            {% for acc in bestAccomodations %}
                {% include 'accomodation/_card_accomodation.html.twig' with {'acc' : acc} only %}
            {% endfor %}

        </div>

    </section>

{% endblock %}
