{% extends 'base.html.twig' %}

{% block title %} {{ acc.type.name }} {{ acc.category.name }} {% endblock %}

{% block body %}

    <section class="page-header room-header container">
        <img src="{{ asset('uploads/rooms/' ~ acc.photo) }}" class="img-responsive" alt="Gamma Hotel">
    </section>

    <section class="container room-content">
        <article class="room-description">
            <div class="room-description-images">

                <img src="{{ asset('uploads/rooms/' ~ acc.photo) }}"
                     class="img-responsive"
                     alt="{{ acc.type.name }} {{ acc.category.name }}">

                {% for photo in acc.photos %}
                    <img src="{{ asset('uploads/rooms/' ~ photo.filename) }}"
                         class="img-responsive"
                         alt="{{ acc.type.name }} {{ acc.category.name }}">
                {% endfor %}

            </div>
            <div class="room-description-content">

                <h1>{{ acc.type.name }} {{ acc.category.name }}</h1>

                <ul class="room-features">
                    <li><i class="fa fa-bed"></i> {{ acc.beds }}</li>
                    <li><i class="fa fa-user"></i> {{ acc.persons }}</li>
                    <li><i class="fa fa-expand"></i> {{ acc.size }}m<sup>2</sup></li>
                    <li><i class="fa fa-euro"></i> {{ acc.price }}</li>
                </ul>

                <p>{{ acc.description }}</p>

                <h2>Équipements</h2>

                <ul class="room-amenities">

                    {% for amenity in acc.amenities %}
                        <li><i class="{{ amenity.icon }}"></i> {{ amenity.name }}</li>
                    {% endfor %}

                </ul>

                {% include 'accomodation/_form_booking.html.twig' %}

            </div>
        </article>
    </section>

{% endblock %}














