{% extends 'base.html.twig' %}

{% block title %}Réservation - {{ booking.id }}{% endblock %}

{% block body %}

<section class="page-header room-header container">
    <img src="{{ asset('images/home-header-bg.jpg') }}" class="img-responsive" alt="Gamma Hotel">
</section>

<section class="container home-content"style="padding: 30px 0 100px 0; text-align: center;">

    <h1>Bonjour {{ booking.user.username }}</h1>
    <p>Votre réservation avec la référence : n°{{ booking.id }} a bien été enregistré</p>

    <p>Date réservé : du {{ booking.dateStart | date('d/m/Y') }} au {{ booking.dateEnd | date('d/m/Y') }}</p>

    <h2>Détail de la chambre</h2>

    <div class="grid grid-rooms" style="margin: 20px 100px;">
        {% include 'accomodation/_card_accomodation.html.twig' with {'acc' : booking.accomodation} only %}
    </div>
    
    <div>
        <p>Revenir à la page d'accueil : <a href="{{ path('homepage') }}">Page d'accueil</a></p>
    </div>

</section>

{% endblock %}
